body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
display: flex;
background-color: #1F2937;
}

.header {
height: 72px;
color: #F9FAF8;
background: aquamarine;
align-items: center;
padding: 0 8px;
font-size: 24px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
margin-bottom: 8px;
color: #E5E7EB;
font-size: 18px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: fill;
}





