* {
    border: 1px solid red;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    align-items: stretch;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 0 200px;
}

.head {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 50px 100px;
}

.logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    padding: 8px;
    justify-content: flex-start;
    flex-grow: 1;
}

.links {
    display: flex;
    padding: 8px;
    gap: 8px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

li {
    margin-bottom: 8px;
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.one {
    display: flex;
    color: #F9FAF8;
    height: 400px;
    /* justify-content: center; */
    /* flex-shrink: 1; */
}

.left, .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* gap: 50px; */
    /* flex: 1 1 0; */
    padding: 50px 100px;
    /* align-items: center; */
    justify-content: center;
}

.left {
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: space-around; */
}

.right img {
    height: auto;
    width: 100%;
    max-width: 400px;
    /* align-items: center; */
    /* justify-content: center; */
}

button {
    padding: 10px 40px;
    color: #F9FAF8;
}

.one.h1 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.one.p {
    font-size: 18px;
    color: #E5E7EB;
}

/* .two.h1 {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 30px;
    text-align: center;
} */

h1.two {
    display: flex;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 30px;
    /* justify-content: center; */
    text-align: center;
}

.two {
    display: flex;
    height: 400px;
    padding: 0 200px;
    text-align: center;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item {
    max-width: 200px;
}

.three {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 400px;
    background-color: #E5E7EB;
    padding: 0 200px;
    flex-direction: column;
}

.text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-items: center;
}

.name {
    display: flex;
    font-weight: bolder;
    font-size: x-large;
    align-self: flex-end;
}

.four {
    display: flex;
    height: 200px;
    align-items: center;
    padding: 0 200px;
    margin: 100px 200px;
    color: #F9FAF8;
}

.four, button {
    background-color: #3882F6;
    border-radius: 10px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    padding: 0 200px;
    justify-content: center;
    align-items: center;
}



